<form [formGroup]="practicComponentForm">
  <div class="form-group">
    <label for="input01">Nombre del componente práctico</label>
    <input type="text" class="form-control" id="input01" placeholder="nombre" formControlName="nombre_practico">
  </div>

  <div formArrayName="modulos_attributes">
    <div *ngFor="let module of practicComponentForm.controls.modulos_attributes.controls; let i=index">
      
      <div *ngIf="practicComponentForm.controls.modulos_attributes.controls.length > 0 ">
        
        <div [formGroupName]="i">
          <practic-component [group]="practicComponentForm.controls.modulos_attributes.controls[i]"></practic-component>    
        </div>

        <div class="button-wrapper">
          <button type="button" class="btn btn-danger btn-raised" (click)="removeModule(i)">Eliminar módulo</button>
        </div>
        <br>
      </div>
    </div>

  </div>
  <br>
  <div>
    {{practicComponentForm.value | json}}
  </div>
  <div class="button-wrapper">
    <button type="button" class="btn btn-primary btn-raised" (click)="addModule()">Agregar modulo</button>  
  </div>

  <br>
  <div class="button-wrapper">
    <button type="button" class="btn btn-success btn-raised" (click)="sendInfo()" >Enviar</button>
  </div>
</form>
